<% provide :blog_active, "active" %>

<h1>Blog Posts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>tags</th>
      <th>Feature image</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blog_posts.each do |blog_post| %>
      <tr>
        <td><%= blog_post.name %></td>
        <td><%= raw blog_post.tags.map { |t| link_to t.name, blog_posts_path(tag: t.name)}.join(', ') %></td>
        <td><%= image_tag blog_post.feature_image.url if blog_post.feature_image? %></td>
        <td><%= blog_post.slug %></td>
        <td><%= link_to 'Show', blog_post %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @blog_posts, container: false %>

