<% provide :blog_active, "active" %>

<p>
  <strong>Name:</strong>
  <%= @blog_post.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog_post.content.html_safe %>
</p>

<p>
  <strong>Feature image:</strong>
  <%= @blog_post.feature_image %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @blog_post.slug %>
</p>

<%= link_to 'Back', blog_posts_path %>
